.color-cell {
  float: left;

  width: 10%;
  padding-bottom: 10%;

  background-color: unset;

  transition: background-color 1s 0.5s;

  &:nth-child(10n) {
    clear: right;
  }

  &.color-0 {
    background-color: red;
  }

  &.color-1 {
    background-color: white;
  }

  &.color-2 {
    background-color: blue;
  }
}
